<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/favicon.png">-->

    <title></title>

    <link href="style/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>

  <body>
    <div id="app">
      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" :href="siteRootUrl">{{ siteTitle }}</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" :href="backendRootUrlFriendly">API</a>
          </li>
        </ul>
      </nav>

      <div class="container-fluid">
        <div class="row">
          <!-- Sidebar -->
          <nav class="col-md-3 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <div class="overview-container">
                <ul class="nav flex-column">
                  <li class="overview-status nav-item">
                    <span class="text-muted">Status:</span>
                    <strong>
                      <span v-if="deviceAlertCount == 0" v-cloak class="good">Good</span>
                      <span v-else v-cloak class="bad">{{ deviceAlertCount }} alerts</span>
                    </strong>
                  </li>
                </ul>
              </div>
              <div class="device-list-container overflow-auto">
                <h6 class="nav-heading d-flex">Devices</h6>
                <ul class="nav flex-column">
                  <li v-for="device in devices" :key="device.uuid" v-cloak class="device-list-device nav-item">
                    <a class="nav-link" href="#" @click.prevent="openDetails(device)">
                      <span v-if="device.name" class="device-name">{{ device.name }}</span>
                      <span v-else class="device-name">{{ device.uuid }}</span>
                      <span class="device-status float-right text-muted">pH 0, 0&#176;C</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Main pane -->
          <main role="main" class="main-container col-md-9 ml-sm-auto">
            <!-- Map -->
            <div class="map-container">
              <div id="map"></div>
            </div>
            <!-- Device details -->
            <div v-if="activeDevice" v-cloak class="details-container overflow-auto">
              <button class="close-button btn btn-light float-right" @click.prevent="closeDetails" title="Close">X</button>
              <p><strong>WIP</strong></p>
              <h1>{{ activeDevice.name ? activeDevice.name : "Nameless Device" }}</h1>
              <table>
                <tr>
                  <td>UUID</td>
                  <td><code>{{ activeDevice.uuid }}</code></td>
                </tr>
                <tr>
                  <td>Measurements</td>
                  <td>{{ activeDevice.measurementCount }}</td>
                </tr>
              </table>
              <h2>Measurements</h2>
              <ul v-if="activeDevice.uuid in measurements">
                <li v-for="measurement in measurements[activeDevice.uuid]" :key="measurement.id">
                  {{ measurement }}
                </li>
              </ul>
              <p v-else>None.</p>
            </div>
          </main>
        </div>
      </div>
    </div>

    <div id="scripts" style="display: none;">
      <script src="config.js"></script>
      <script src="scripts/loader.js"></script>
    </div>
  </body>
</html>
